* {
  margin: 0;
  padding: 0;
  font-family: Monaco, Menlo, "Ubuntu Mono", monospace;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-color: black;
  padding: 5%;
}

h1 {
  color: white;
  font-size: 28px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 20px;
  text-align: center;
}

button {
  all: inherit;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-indent: 1em;
}

a {
  color: inherit;
}

p, ul, h1, h2, button {
  margin: 5px;
  padding: 5px;
}

.box {
  padding: 10px;
  border: solid 1px;
  background-color: #0e0e0e;
}

img.box {
  padding: 0;
}

div.box {
  margin: 28px 5px 28px 5px;
}

img {
  display: block;
  margin: 28px auto 28px auto;
  max-width: calc(100% - 22px);
}

::selection {
  background: blue;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
